# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuições / pacotes
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Instâncias do pip
pip-log.txt
pip-delete-this-directory.txt

# Environments virtuais
venv/
env/
ENV/
.venv/
.env/
env.bak/
venv.bak/

# PyInstaller
# Isso armazena arquivos criados por pyinstaller
# geralmente no diretório 'dist'
*.manifest
*.spec

# Unit test / testes
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# Arquivos de log
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db
